{% extends 'base.html' %}

{% block page_content %}
    <div class="page-header"><h1>{{ book.title }}</h1></div>

    <div class="row">
        <h2 class="col-8">Book Details</h2>
        <div class="col-4"></div>
    </div>
    <table>
      <tr>
        <td>ISBN</td>
        <td>Title</td>
        <td>Author</td>
        <td>Year</td>
      </tr>
      <tr>
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
      </tr>
    </table>
    <div class="row">
        <h2 class="col-8">Reviews</h2>
        <div class="col-4"><a href="{{ url_for('main.addReview', isbn=book.isbn) }}">Add a review!</a></div>
    </div>

    {% if reviews %}
        {% for review in reviews %}
                <div class="row">
                <div class="col-2">{{ review.user.name}} </div>
                <div class="col-10">{{review.content}}</div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}