{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h1>Search the Book You Want</h1>
    </div>
    {{ wtf.quick_form(form) }}

    {% if search_success %} {# search results #}
        <table>
      <tr>
        <td>ISBN</td>
        <td>Title</td>
        <td>Author</td>
        <td>Year</td>
      </tr>
    {% for book in results %}
      <tr>
        <td>{{ book.isbn }}</td>
        <td><a href="{{ url_for('main.book', isbn=book.isbn) }}">{{ book.title }}</a></td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
      </tr>
    {% endfor %}
    </table>
    {% endif %}
{% endblock %}
